@media screen and (max-width : 1800px) and (min-width : 1400px) {

  .SignInBox {
      position: relative;
      background-color: white;
      margin-left: 35%;
      margin-right: 35%;
      width: 30%;
      height: 800px;
      margin-top: 150px;
  }

  #sign {
    width: 95%;
  }

  .inputId {
    position: relative;
    margin-top: 50px;
  }

  .inputPw {
    position: relative;
    margin-top: 120px;
  }

  .userCheck {
    position: relative;
    margin-top: 170px;
    margin-left: 415px;
  }

  .checkBtn {
    font-weight: bold;
      width: 80px;
      height: 30px;
      background-color: black;
      color: white;
      cursor: pointer;
      border: none;
  }

  .findContainer {
    color: black;
    float: left;
  }
}

@media screen and (max-width : 1920px) and (min-width : 1800px) {

  .SignInBox {
      position: relative;
      background-color: white;
      margin-left: 35%;
      margin-right: 35%;
      width: 30%;
      height: 800px;
      margin-top: 150px;
  }

  #sign {
    width: 95%;
  }

  .inputId {
      position: relative;
      margin-top: 50px;
    }

    .inputPw {
      position: relative;
      margin-top: 120px;
    }

    .userCheck {
      position: relative;
      margin-top: 170px;
      margin-left: 485px;
    }

    .checkBtn {
      font-weight: bold;
        width: 80px;
        height: 30px;
        background-color: black;
        color: white;
        cursor: pointer;
        border: none;
    }

    .findContainer {
      color: black;
      float: left;
    }
}